name: windows build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: windows-2025

    steps:
    - uses: actions/checkout@v6.0.1

    - name: Setup .NET
      uses: actions/setup-dotnet@v5.0.1
      with:
        dotnet-version: 10.0.x

    - name: Build everything
      run: |
        & .\eng\build.ps1 -build $true

    - name: Test artifact publishing
      run: |
        & .\eng\build.ps1 -build $false -publish $true
